@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');z
* {
    margin: 0;
    padding: 0px;
}
body {
    font-family: 'Montserrat';
    margin: 0;
    background-color: #f6fafd;
   

}









header {
    align-items: center;
    background-color: #f6fafd;
    overflow-wrap: break-word;
}
ul {
    
    display: block;
    background-color: grey;
    list-style-type: none;
}




.expert {
    display: flex;
    
} 
.expert img {
    border: 1px solid black;
    
} 
.expert-col {
    border: 1px solid black;
}

.hero-about-us {
    padding: 2em;
}
   







.hero {
   padding-top: 100px;
   padding-bottom: 240px;
   padding-left: 2em;
   background-color: #f6fafd;

}
.hero-s {
    max-width: 50em;
    border: 1px solid black;
}
.special-heading-1 {
    display: block;
    background-color: #ffffff;
    


}
.h-heading {
    font-weight: bolder;
    width: 250px;
    margin: 50px 0px;
}

.h-para {
    text-align: none;
    margin: 50px 0px;
    line-height: .3em;
    
}

.h-btn {
    position: absolute;
    color: white;
    background-color: #0070cc;
    width: 15em;
    height: 5em;
    left: 200px;
    border-radius: 5px;
    border: 0;
}












.hero-s {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.mainb {
    padding: 60px 0px;
    background-color: #ffffff;
   
}

.main-p, h3{
    text-align: center;
    line-height: 2em;
    
}
.img {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
    
    }

.center-img {
    padding: 20px;
 
    background-color: #eff8ff;
    width: 5em;
    height: 5em;
    border-radius: 50%;
}

.ispecial {
display: block;
margin-top: .3em;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
width: 3em;
height: 3sem;



}
